target/
.mvn/wrapper/maven-wrapper.jar
.env
src/main/java/de/momogym/config/DatabaseConfig.java
src/main/webapp/WEB-INF/neon-ds.xml
# IntelliJ IDE
.idea/
*.iml

# Log-Dateien
*.log


Anleitung zum Docker image und Render.txt
